<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.5//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mymember">


	<insert id="insert" parameterType="MemberDto">
		INSERT INTO STSMEMBER
		VALUES(#{member_id}, #{pass_word}, #{pass_word2}, #{address}, #{phone_number}, #{e_mail})
	</insert>

	<insert id="insertSns" parameterType="signUpDto">
		INSERT INTO OAUTH_USER_DETAILS (id, name, email, password, createdAt, auth)
		VALUES(null, #{name},#{email}, #{password}, NOW(), #{auth})
	</insert>
	
	<insert id="insertAuth">
		insert into auth (username, auth)
		VALUES (#{username}, #{auth})
	</insert>

	<select id="select" parameterType="string">
	SELECT * FROM OAUTH_USER_DETAILS WHERE email = #{email}
	</select>
	
	<select id="selectLogin" parameterType="LoginDto">
	SELECT * 
	FROM OAUTH_USER_DETAILS 
	WHERE 1=1 and EMAIL=#{email} and PASSWORD=#{password}
	</select>
	
	<select id="read" resultMap="Member">
		select
			m.id, m.name, m.email, m.password, m.createAt, m.auth
		from member m
		left outer join auth a on m.email = a.username
		where m.email = #{email}
	</select>
	
	<select>
	
	</select>

</mapper>